body {
  padding-top: 5rem;
}
.intro-text {
  padding: 3rem 1.5rem;
  text-align: center;
}

.progress {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 3rem;
}
.progress .progress-bar {
  transition-timing-function: ease-in;
}

@keyframes finished-flash {
  0% {
      background-color: var(--primary);
      opacity:1;
  }
  50% {
      background-color: var(--success);
  }
  100% {
      background-color:var(--primary);
  }
}
  
.finished {
  animation-name: finished-flash;
  animation-duration: 400ms;
  animation-iteration-count: 10;
  animation-timing-function: ease-in-out;
}

.scan-tab .camera-preview {
  max-width: 100%;
}

#fireworks-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1000;
}